<div class="input-container" [formGroup]="inputGroup">

        <mat-form-field>
          <input matInput placeholder="question" formControlName="question">
        </mat-form-field>

        <mat-form-field class="full">
          <mat-select placeholder="Type">
            <mat-option *ngFor="let type of answersArray" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>



    <div formArrayName="subInputs">
        <div *ngFor="let subInput of inputGroup.controls.subInputs.controls; let i=index" >
            <div  [formGroupName]="i">
                <app-subinput [group]="inputGroup.controls.subInputs.controls[i]"></app-subinput>
                <button (click)="removeInput(i)" class="btn btn-primary">
                    Delete
                </button>
            </div>
        </div>
    </div>
    <div class="margin-20">
        <button (click)="addInput()" class="btn btn-primary">
            Add Sub-Input
        </button>

    </div>

</div>
